<div class = "basic-grey">

  <h1>Completed Form</h1>

  <ul>
    <li>Name: <%= @name %></li>
    <li>Email: <%= @email %></li>
    <li>Message: <%= @message %></li>
    <li>Subject: <%= @selection %></li>
  </ul>

</div>

<div class ="basic-grey">
  <label>
    <a href="/">&laquo; Back to Home</a></span>
  </label>
</div>
